body {
    background: #184533;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: solid 2px #184533;
    color: #184533;
    font-family: Georgia, 'Times New Roman', serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

.indexgroup {
    background: #BAE3D3;
    border: solid 2px #184533;
    float: right;
    max-width: 300px;
    padding: 1em;
}

.indexgroup > ol {
    margin: 0;
    padding: 0 0 0 1.5em;
}

.sixdoc-page {
    background: white;
    border-radius: 2em;
    margin: 1em auto;
    padding: 2em;
    width: 960px;
}

.sixdoc-breadcrumb {
    display: block;
    margin: 0;
    padding: 0;
}

.sixdoc-breadcrumb > li {
    display: inline;
}

.sixdoc-breadcrumb > li:not(:last-child):after {
    content: '»';
    margin: 0 1em;
}

.sixdoc-copyright {
    color: white;
    text-align: center;
}
